@media (min-width: 768px) {

	.header{
		&__text{
			img{
				height: 70vh;
				width: 70vh;
			}
		}
	}
	.aboutus {
		// height: 65vh;
		&__describtion {
			font-size: 1.6rem;
			z-index: 2;
		}

		&__text {
			font-size: 1.6rem;
			z-index: 2;
		}

		&__textend {
			font-size: 1.8rem;
		}
	}

	.offer {
		&__box {
			border-radius: 70px;
		}

		&__item-icon {
			height: 6vh;
		}

		&__item-name {
			font-size: 1.6rem;
		}

		&__item-text {
			font-size: 1.5rem;
		}

		&__enddescribtion {
			font-size: 2em;
		}
	}

	.steps {
		height: auto;
		&__box {
			margin: 1em 4em;
			// gap: 0.1em;
			border-radius: 70px;
		}

		&__icon {
			img {
				margin: 1em;
				height: 5vh;
			}
		}

		&__text {
			h3 {
				margin-bottom: 1em;
				font-size: 1.5rem;
			}

			p {
				font-size: 1.5rem;
			}
		}
	}

	.footer {
		border-top: 1px solid $white;
		&__boxes {
			display: flex;
			justify-content: space-between;
			align-items: start;
			text-align: left;
		}
		&__box-desktop {
			display: block;
		}

		&__box {
			margin: 0 2em;
			width: 25%;

			&:first-child {
				width: 40%;
			}
		}

		&__box-title {
			font-size: 2.4rem;
		}

		&__box-list {
			list-style: none;
		}
		&__box-list-item {
			margin-bottom: 1em;
			a {
				color: $white;
				text-decoration: none;
			}
		}
	}
}
